
  @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}
.MuiContainer-root {
  padding: 0;
  margin: 0;
}
.MuiTypography-root{
  font-family: 'Prompt', sans-serif;
}
.MuiTab-root{
  font-family: 'Prompt', sans-serif;
}
