@import "@fontsource/prompt/100.css";
@import "@fontsource/prompt/200.css";
@import "@fontsource/prompt/300.css";
@import "@fontsource/prompt/400.css";
@import "@fontsource/prompt/500.css";
@import "@fontsource/prompt/600.css";
@import "@fontsource/prompt/700.css";
@import "@fontsource/prompt/800.css";
@import "@fontsource/prompt/900.css";
@import "react-date-range/dist/theme/default.css";
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  background-color: #faf8f1;
}

.MuiContainer-root {
  padding: 0;
  margin: 0;
}

.MuiTypography-root {
  font-family: "Prompt", sans-serif;
}

.MuiTab-root {
  font-family: "Prompt", sans-serif;
}
